//
   Created by zain on 8/17/15.

html
  head
    title="isomorphic-react-nodejs-babel"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='A starter kit of an isomorphic React & Node.js app with ES6/ES7 support using Babel.')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    #app!= content

  if process.env.NODE_ENV == 'production'
    script(src='/scripts/app.js')
  else
    script(src='http://localhost:#{webpackPort}/scripts/app.js', defer)
